# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
data={}# empty dictionary 
type(data)

dict

In [2]:
data1=dict() # empty dictionary 
type(data1)

dict

In [3]:
data={'Alabama':'Montgomery','Arizona':'Phoenix','Georgia':'Atlanta','Kentucky':'Frankfort','Ohio':'Salem'}
#key:value

In [4]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [5]:
data={'Alabama':'Montgomery','Arizona':'Phoenix','Georgia':'Atlanta','Kentucky':'Frankfort','Ohio':'Salem'}

In [6]:
data['Kentucky']

'Frankfort'

In [7]:
data['Alabama']

'Montgomery'

In [16]:
data['Louisiana'] # if accessing a key which is not present it raises a key error.

KeyError: 'Louisiana'

### Update elements of a dictionary and add new elements

In [8]:
day={1:'Monday',2:'Tuesday',4:['Thursday','Friday'],5:('Saturday','Sunday')}

In [9]:
day[1]

'Monday'

In [10]:
day[4][1]

'Friday'

In [11]:
day[5][0]

'Saturday'

In [12]:
# update Sunday to Holiday
day[5][1]='Holiday' # tuple update NOT POSSIBLE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1

TypeError: 'tuple' object does not support item assignment

In [13]:
day[4][0]='Holiday'

In [14]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ['Holiday', 'Friday'],
 5: ('Saturday', 'Sunday')}

In [15]:
day[1]='Holiday'
day

{1: 'Holiday',
 2: 'Tuesday',
 4: ['Holiday', 'Friday'],
 5: ('Saturday', 'Sunday')}

In [ ]:
# can update values, not key itself. KEY IS UNIQUEEEEEEEEE AND IMMUTABLE (SO IS TUPLE!!!) VALUE IS MUTABLE THO

### `get` and `update` methods

#### UPDATE

In [18]:
data.get('Arizona') #.get gets looking for the key to return the value

'Phoenix'

In [19]:
data.get('Louisiana') #Not generating an error like it does with data[key]

In [ ]:
#update old valuee to new and add new key value pair

In [21]:
print(data)
data.update({'Kentucky':'Louisville','Louisiana':'Baton Rouge','Excan Tlatoloyan':'Mexico-Tenochtitlan'})

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [22]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge', 'Excan Tlatoloyan': 'Mexico-Tenochtitlan'}

In [23]:
data.update({'alabama':'Montgomery'}) # only way to update a key is to assign a new key
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge', 'Excan Tlatoloyan': 'Mexico-Tenochtitlan', 'alabama': 'Montgomery'}

### Delete dictionary items using `del` and `pop`

In [25]:
data
del data['Alabama']

In [26]:
data

{'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge',
 'Excan Tlatoloyan': 'Mexico-Tenochtitlan',
 'alabama': 'Montgomery'}

In [27]:
del data['Ohio']
data

{'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton Rouge',
 'Excan Tlatoloyan': 'Mexico-Tenochtitlan',
 'alabama': 'Montgomery'}

In [28]:
deleted_state=data.pop('Arizona')
print(deleted_state)

Phoenix

In [29]:
data

{'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton Rouge',
 'Excan Tlatoloyan': 'Mexico-Tenochtitlan',
 'alabama': 'Montgomery'}

In [30]:
# delete montgomery 
deleted_capital=data.pop('alabama')
print(deleted_capital)

Montgomery

In [31]:
del data
data # deleted entire dictionary

NameError: name 'data' is not defined

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [32]:
data={'Alabama':'Montgomery','Arizona':'Phoenix','Georgia':'Atlanta','Kentucky':'Frankfort','Ohio':'Salem'}

In [34]:
#NUMBER OF ELEMENT IN DICTIONARY
len(data)

5

In [35]:
# extract keys
print(data.keys())

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [36]:
#extract value
print(data.values())

dict_values(['Montgomery', 'Phoenix', 'Atlanta', 'Frankfort', 'Salem'])

In [37]:
# item/ key pair
print(data.items())
type(data.items())

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Phoenix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Salem')])

dict_items

### Loop through a dictionary

In [38]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [40]:
# loop thru a dictionary keys
for i in data.keys(): # unpact dict items
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [44]:
for j in data.values():
    print("the capital is ",j)
    print(type(j))

the capital is  Montgomery
<class 'str'>
the capital is  Phoenix
<class 'str'>
the capital is  Atlanta
<class 'str'>
the capital is  Frankfort
<class 'str'>
the capital is  Salem
<class 'str'>

In [45]:
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Phoenix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Salem')
<class 'tuple'>

In [48]:
# how we unpack tuple 
for i, j in data.items():
    print("State",i, "Capitol:",j)
    print("Capital",j)
    print(type(i),type(j))

State Alabama Capitol: Montgomery
Capital Montgomery
<class 'str'> <class 'str'>
State Arizona Capitol: Phoenix
Capital Phoenix
<class 'str'> <class 'str'>
State Georgia Capitol: Atlanta
Capital Atlanta
<class 'str'> <class 'str'>
State Kentucky Capitol: Frankfort
Capital Frankfort
<class 'str'> <class 'str'>
State Ohio Capitol: Salem
Capital Salem
<class 'str'> <class 'str'>

### Convert dictionary to lists using `list()` function

In [49]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [52]:
list(data.values())

['Montgomery', 'Phoenix', 'Atlanta', 'Frankfort', 'Salem']

In [53]:
tuple(data.keys())

('Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio')

### A List in a Dictionary

In [1]:
favorite_language={
    'Jen':['Python','ruby'],
    'sara':['C'],
    'edward':['ruby','Java'],
    'Phil':['Python','Haskell']
}

In [2]:
for name, languages in favorite_language.items():
    print("\n"+name.title()+"\'s favorite languages are: ")
    #print(languages)
    for i in languages:
        print("\t\t\t"+i.title())

Jen's favorite languages are:
			Python
			Ruby

Sara's favorite languages are:
			C

Edward's favorite languages are:
			Ruby
			Java

Phil's favorite languages are:
			Python
			Haskell

###  A Dictionary in a Dictionary

In [3]:
user={
    'einstein':{
        'first':'albert',
        'last':'einstein',
        'location':'princeton'
    },
    'mcurie':{
        'first':'marie',
        'last':'curie',
        'location':'paris'
    }
}

In [4]:
user

{'einstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [8]:
for username,user_info in user.items():
    print("\nUser Name: ", username)
    fullname=user_info['first']+" "+user_info['last']
    location=user_info['location']
    
    print("The full name is: "+ fullname.title())
    print("The location: ",location.title())

User Name:  einstein
The full name is: Albert Einstein
The location:  Princeton

User Name:  mcurie
The full name is: Marie Curie
The location:  Paris